.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
    height: 90%; 
    margin-bottom: 20px; 
    overflow: hidden; 
    color: #000; 
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: 200px; /* Ensuring that all the images have a consistent height */
    object-fit: cover;
    margin-bottom: 15px;
    flex-shrink: 0;
    border-radius: 4px; 
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Show ellipsis after 2 lines for the truncating text*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5rem; /* Adjust line height to control the number of lines */
    font-family: 'Montserrat', sans-serif; 
}

.product-card p {
    font-size: 1rem;
    margin: 5px 0;
    color: #666;
    font-family: 'Raleway', sans-serif; 
}

.product-card a {
    text-decoration: none;
    color: inherit;
    width: 100%; 
}

.product-card button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%; 
    font-family: 'Raleway', sans-serif; 
}

.product-info button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.quantity-controls button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
    padding: 0;
}

.quantity-controls input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    margin: 0 5px;
}

.quantity-controls button:hover {
    color: #000;
    border: none;
}
